html, body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  font-size: 12px;
  background: #f0f2f5;
  font-family: '微软雅黑', Arial, sans-serif;
}
html,body,#app,.wrapper{
  width: 100%;
}
html {
  scroll-behavior: smooth; 
}
ol,ul{ list-style: none;}
.inline-block{ display: inline-block;}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-weight: normal;
}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix { display:inline-block;}
* html .clearfix { height:1%;}
.clearfix { display:block;}

a {
  color: #333333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
dd {
  margin-left: 0;
}
a:active {
  color: #666666;
}

input, textarea, select {
  font-family: Arial, sans-serif;
  -webkit-appearance: none;
}
